
html {
	height: 100%;
}

body {
	background: url('/images/light_blue.jpg') repeat;
	
}
.container {

  width: 1000px;  
  padding-top: 20px;
  margin: 0 auto;
}

 .container-fluid{
        margin: 0 auto;
        max-width: 1000px;
      }
 
 h2, h3{
 	text-align: center;
 	color: #000000;
 }

#line{
	color: #ff0000;
	font-weight: bold;
}
  
  
   #details {
	font-weight: bold;
	font-size: 1em;	
	text-align: center;
	background: #FFCC00;
	color: #FF0000;
	border: 2px solid #ff9900;
}

 
 ul#level-one{
	width:95%;
	margin: 0 auto;
	height: 36px;
	position: relative;
	list-style: none;
	line-height:36px;
	background:#AEB1B1;
}

ul#level-one li{
	width:92px;
	float: left;
	font-weight: bold;
	font-family: Arial;
	padding-left: 12px;

}

ul#level-one li:hover{
	background:#EAF5FC;
}

ul#level-two,ul#level-three,ul#level-four{
	list-style: none;
	background:#EAF5FC; 
	display:none;
	position:absolute;
	top:36px;
	padding:0;
	width:180px;
	height: auto;
	border:0px solid red;
	text-align: left;
	z-index: 99999;
}

ul#level-two li,ul#level-three li,ul#level-four li{
	width:176px;
	padding-left:4px ;
	line-height: 30px;

	
}


 .main {
 	
background-color: #f5f5f5;
  color: #fff;
 padding: 10px;
 border: 1px solid #e3e3e3;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
  text-align: justify;
 -webkit-column-count: 2;
 -moz-column-count: 2;
  column-count: 2;
 -webkit-column-gap: 2em;
 -moz-column-gap: 2em;
  column-gap: 2em;
 -webkit-column-rule-width: 2em;
 -moz-column-rule-width: 2em;
  column-rule: 2em;

}

 .thumbnail{
 	width: 300px;
 	height: 300px;
 }
.web-services {
  background-color: #bfd1e4;
  border: 1px solid #2563a5;
  padding: 10px;

}


#product-image  img {
	box-sizing: border-box;
	border: 8px solid #24C4DA;
	padding: 2px;
	margin: 0 0 5% 0;
	

}

h1{
	font-size: 2em;
}
#computer-pictures {
	background: #FFFFFF;
	border: 1px solid #24C4DA;
	position: relative;
	animation:bounce 5s infinite;
	-webkit-animation:bounce 5s infinite; /* Safari and Chorme*/
}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
40% {-webkit-transform: translateY(-30px);}
60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
40% {-moz-transform: translateY(-30px);}
60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
40% {-o-transform: translateY(-30px);}
60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
40% {transform: translateY(-30px);}
60% {transform: translateY(-15px);}
}

.bounce {
-webkit-animation-name: bounce;
-moz-animation-name: bounce;
-o-animation-name: bounce;
animation-name: bounce;
}




#intro {
	padding: 2em;	
	text-align: left;

	
	
}

#maintenance {
	font-size: 25px;


}

h3  {
	color: #E84E16;
}



h2  {
	color: #E84E16;
}

.phone {
	font-size: 1em;
}



#quality-service  {
	
	padding: 2px;
	text-align: center;
}


.footer{
	font-size: 0.750em;
	text-align: right;
}

#contact{
	padding: 30px;
	font-size: 1em;
	color: #420600;
	text-align: center;
	background: #5693AB;
	border: 2px solid #24C4DA;
}

.product-details {
	padding: 2em;
	font-size: 1em;
	text-align: left;
}
	

#parts {
	text-align: left;
	padding: 1.500em;
}



#product-logo {
	background-color: #FFFFFF;
	border: 2px solid #24C4DA;
	text-align: center;
}

h4 {
	color: #24C4DA;
}

#service-picture {
	background-color: #FFFFFF;
	border: 2px solid #24C4DA;
}

#contact-form {
	
	text-align: center;
	border: 2px solid #24C4DA;
}

#problem {
	padding: 30px;
	background: #000;
	text-align: center;
	border: 2px solid #24C4DA;
}




