<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/menubar.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/logo.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="http://font.googleapis.com/css?family=Tangerine">
        <style>
  body {
    
    font-family: 'Tangerine', sans-serif;
    font-size:1em;
       }
</style>
       
    </head>
    <body>

  <div class="container-fluid">
  <nav id="menu-wrap">
    
<div class="row-fluid">
  <div class="span12">
    <img src="/images/shalu.jpg" width="300" height="200"></a>
    <div id="line">    
<marquee>BUY WITH CONFIDENCE. CUSTOMER SATISFACTION IS OUR ONLY MOTTO.
</marquee>
</div>
    

<ul id="menu">
  <li><a href="/">Home</a></li>
  <li>
    <a href="#">Drums</a>
    <ul>
      <li><a href="#">Cymbals</a></li>
      <li><a href="#">Digital Drum Pad</a></li>
      <li><a href="#">Djembes</a></li>
    
    </ul>
  </li>
  <li><a href="#">Guitars</a>
    <uL>
      <li><a href="#">Asoustic Guitars</a></li>
      <li><a href="#">Bass Guitars</a></li>
      <li><a href="#">Classical Guitars</a></li>
      <li><a href="#">Guitar Amp</a></li>
    </ul>
        </li>

  <li><a href="#">Keyboards</a>
    <ul>
    <li><a href="#">Electronic Keyboards</a></li>
    <li><a href="#">Keyboard Amps</a></li>
    <li><a href="#">Keyboard Cases</a></li>
  </ul>

  </li>
  <li><a href="#">Pianos</a>
  <ul>
    <li><a href="#">Yamaha Upright Piano</a>
      <ul>
    <li><a href="/pianos/yus/">YUS Series</a></li>
    <li><a href="/pianos/us/">U Series</a></li>
    <li><a href="#">M Series</a></li>
      </ul>      
    </li>
    <li><a href="#">Digital Piano</a></li>
  </ul>
  </li>  
</ul>


</nav>
<script>
$(function() {
  if ($.browser.msie && $.browser.version.substr(0,1)<7)
  {
  $('li').has('ul').mouseover(function(){
    $(this).children('ul').css('visibility','visible');
    }).mouseout(function(){
    $(this).children('ul').css('visibility','hidden');
    })
  }
}); 

</script>

<script>
/* Mobile */
$('#menu-wrap').prepend('<div id="menu-trigger">Menu</div>');   
$("#menu-trigger").on("click", function(){
  $("#menu").slideToggle();
});

</script>

<script>
// iPad
var isiPad = navigator.userAgent.match(/iPad/i) != null;
if (isiPad) $('#menu ul').addClass('no-transition');
</script>
      </div> 

        


    
      
                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  
                </p>
              </div>
              <div class="contact">
                <p>
                  
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>

    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>

    <script src="assets/js/application.js"></script>


    <!-- Analytics
    ================================================== -->
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>

    </body>
</html>
